@import url(../../assets/styles/global.css);
@import url(../Sobre/style.css);

#alphapedia {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1;
}

#alphapedia .box-content .left-content hr,
#alphapedia .box-content .left-content h2,
#alphapedia .box-content .left-content h1{
  margin-bottom: 4rem;
}

#alphapedia .container-box{
  border: 1px solid red;
  /* display: flex; */
  /* height: 100vh; */
}

#alphapedia .box{
    border: 1px solid aqua;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#alphapedia .box-item{
  /* width: 40%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 1px solid green; */
  text-align: center;
}
